* {
    font-family: 'Poppins', sans-serif;
}

/* Header */


body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    background-color: #161616;
    width: 1321px;
    height: 646px;
    margin: 50px 140px 0px 140px;
    padding: 1vh 2vw 0 6vw;
    border-radius: 30px;
    color: white;
}

.header-1 h1 {
    font-size: 4rem;
}

.header-1 p {
    font-size: 1.5rem;
}

.button {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 2px 15px;
    width: 312px;
    height: 75px;
    border-radius: 15px;
    background-color: #19D1DB;
}

.button:hover {
    background-image: linear-gradient(#19D1DB, indigo);
    cursor: pointer;
}

.header-1 {
    height: 75%;
    width: 90%;
}

.header-2 img {
    height: 90%;
    width: 90%;
    margin-bottom: -21px;
}

/* Main section */

section {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 24px;
    margin: 50px 140px;
}

.selection {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 315px;
    height: 315px;
    padding: 30px;
    background-color: #161616;
}

#group-button,
#blog-button {
    color: black;
    background-color: white;
}

.up-match {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 48px;
}

.match {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 312px;
    height: 242px;
    border-radius: 15px;
    border: whitesmoke solid;
}

.match div {
    display: flex;
    gap: 15px;
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 100%;
    height: 600px;
    background-color: #161616;

}

footer h1 {
    color: white;
}

footer hr {
    width: 90%;
    height: 1px;
    border: 0.6px solid #4d4242;
}

footer div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

footer div a {
    text-decoration: none;
    color: white;
}

.icons {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
    height: 90px;
    width: 90px;
}

.fa-facebook-square,
.fa-instagram-square,
.fa-twitter-square {
    font-size: 60px;
}


/* Tablet View */

@media only screen and (min-width: 768px) and (max-width: 1023px) {

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
        background-color: #161616;
        width: 734px;
        height: 398px;
        margin: 50px 50px 0 50px;
        border-radius: 30px;
        color: white;
    }

    .header-1 h1 {
        font-size: 2rem;
    }

    .header-1 p {
        font-size: 0.9rem;
    }

    .button {
        color: white;
        text-decoration: none;
        font-size: 0.9rem;
        padding: 2px 15px;
        width: 230px;
        height: 64px;
        border-radius: 15px;
        background-color: #19D1DB;
    }

    .button:hover {
        background-image: linear-gradient(#19D1DB, indigo);
        cursor: pointer;
    }

    .header-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 6%;
        width: 100%;

    }

    .header-2 img {
        height: 60%;
        width: 100%;
        margin-bottom: -18px;

    }

    /* Main section */

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 6px;
        margin: 50px 140px;
    }

    .selection {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-content: center;
        gap: 45px;
        border-radius: 10px;
        width: 210px;
        height: 176px;
        padding: 15px;
        background-color: white;
    }

    #group-button,
    #blog-button {
        color: black;
        background-color: white;
    }

    .up-match {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: space-around;
        gap: 90px;
    }

    .match {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 312px;
        height: 242px;
        border-radius: 15px;
        border: whitesmoke solid;
    }

    .match div {
        display: flex;
        gap: 15px;
    }

    /* Footer */

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        width: 100%;
        height: 600px;
        background-color: #161616;

    }

    footer h1 {
        color: white;
    }

    footer hr {
        width: 90%;
        height: 1px;
        border: 0.6px solid #4d4242;
    }

    footer div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    footer div a {
        text-decoration: none;
        color: white;
    }

    footer .footer-link {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .icons {
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 45px;
        height: 90px;
        width: 90px;
    }

    .fa-facebook-square,
    .fa-instagram-square,
    .fa-twitter-square {
        font-size: 60px;
    }

}

/* Mobile View */
@media only screen and (max-width: 767px) {

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #161616;
        width: 334px;
        height: 660px;
        margin: 0px 20px;
        border-radius: 30px;
        color: white;
    }

    .header-1 h1 {
        font-size: 1.5em;
    }

    .header-1 p {
        font-size: 0.9em;
    }

    .button {
        color: white;
        text-decoration: none;
        font-size: 0.6em;
        padding: 2px 15px;
        width: 161px;
        height: 40px;
        border-radius: 15px;
        background-color: #19D1DB;
    }

    .button:hover {
        background-image: linear-gradient(#19D1DB, indigo);
        cursor: pointer;
    }

    .header-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 60%;
        width: 100%;
        margin-top: 60px;

    }

    .header-2 img {
        height: 69%;
        width: 100%;
        margin-top: 123px;
    }

    /* Main section */

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 6px;
        margin: 50px 140px;
    }

    .selection {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        width: 210px;
        height: 176px;
        padding: 15px;
        background-color: white;
    }

    #group-button,
    #blog-button {
        color: black;
        background-color: white;
    }

    .up-match {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 6px;
    }

    .match {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 312px;
        height: 242px;
        border-radius: 15px;
        border: whitesmoke solid;
    }

    .match div {
        display: flex;
        gap: 15px;
    }

    /* Footer */

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        width: 100%;
        height: 600px;
        background-color: #161616;

    }

    footer h1 {
        color: white;
    }

    footer hr {
        width: 90%;
        height: 1px;
        border: 0.6px solid #4d4242;
    }

    footer div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    footer div a {
        text-decoration: none;
        color: white;
    }

    footer .footer-link {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .icons {
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 45px;
        height: 90px;
        width: 90px;
    }

    .fa-facebook-square,
    .fa-instagram-square,
    .fa-twitter-square {
        font-size: 60px;
    }

}