* {
    font-family: 'Poppins', sans-serif;
}

/* Header */

header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    background-color: #161616;
    height: 615px;
    max-width: 1321px;
    margin: 50px 140px 0px 140px;
    padding: 1vh 2vw 0 6vw;
    border-radius: 30px;
    color: white;
}

.header-1 h1 {
    font-size: 4rem;
}

.header-1 p {
    font-size: 1.5rem;
}

.button {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 2px 15px;
    width: 312px;
    height: 75px;
    border-radius: 15px;
    background-color: #19D1DB;
}

.button:hover {
    background-image: linear-gradient(#19D1DB, indigo);
    cursor: pointer;
}


.header-1 {
    height: 424px;
    max-width: 531px;
}

.header-2 img {
    height: 613px;
    max-width: 581px;
}

/* Main section */

section {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 60px;
    margin: 50px 140px;
    height: 1500px;
}

.selection {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 315px;
    height: 315px;
    padding: 30px;
    background-color: #161616;
}

#group-button,
#match-button {
    color: black;
    background-color: white;
}

.blog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    margin-top: 78px;
}

.sub-blog {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 270px;
    height: 210px;
    border-radius: 15px;
    border: whitesmoke solid;
}

.blog button {
    cursor: pointer;
}

.blog:after {
    content: '';
    display: grid;
    clear: both;
}

.blog div:nth-child(1n + 8) {
    max-height: 900px;
    opacity: 0;
    transition: 0.2s ease-in;
}

.blog .btn-area {
    display: flex;
    justify-content: center;
    align-items: center;

}

.blog .button .btn2 {
    display: none;
}

.blog #btnBox {
    display: none;
}

.blog #btnBox:checked~div:nth-child(1n + 8) {
    max-height: 1500px;
    opacity: 1;
    transition: 0.5s ease;
}

.blog #btnBox:checked~.btn-area .btn2 {
    display: block;
}

.blog #btnBox:checked~.btn-area .btn1 {
    display: none;
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    max-width: 100%;
    height: 600px;
    background-color: #161616;
}

footer h1 {
    color: white;
}

footer hr {
    width: 1320px;
    height: 1px;
    border: 0.6px solid #4d4242;
}

footer div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

footer div a {
    text-decoration: none;
    color: white;
}

.icons {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
    height: 90px;
    width: 90px;
}

.fa-facebook-square,
.fa-instagram-square,
.fa-twitter-square {
    font-size: 60px;
}